body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}



/* manual style start */
.fpo {
	opacity: .5;
}
.sheen{
	opacity:.8;
	position:relative;
	height:100%;
	background: #8abef8;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(138, 190, 248, 1)	50%, rgba(255,255,255,0) 100%);
}
.overflow{
	overflow:hidden;
}

#c3org_2x {
	left:16px;
	top:110px;
	width:100px;
	height:21px;
	background-image:url(../img/c3org_2x.png);
	background-size:100px 21px;
}

#c3white_2x {
	left:16px;
	top:110px;
	width:100px;
	height:21px;
	background-image:url(../img/c3white_2x.png);
	background-size:100px 21px;
}
.white_container{
	top:0;
	left:0;
	width:300px;
	height:600px;
	overflow:hidden;
	-webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
}
.white_container_2{
	top:0;
	left:0;
	width:300px;
	height:600px;
	overflow:hidden;
	-webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
}

.tangiberry_container{
	top:0;
	left:0;
	width:300px;
	height:600px;
	overflow:hidden;
	-webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
}

#bg_2x {
	left:0px;
	top:0px;
	width:728px;
	height:90px;
	background-image:url(../img/bg_2x.jpg);
	background-size:728px 90px;
}

#left_tri {
	left:0px;
	top:0px;
	width:414px;
	height:90px;
	background-image:url(../img/left_tri.png);
}

#right_tri {
	left:365px;
	top:0px;
	width:363px;
	height:90px;
	background-image:url(../img/right_tri.png);
}

#bg_fpo_2x {
	left:0px;
	top:0px;
	width:728px;
	height:90px;
	background-image:url(../img/bg_fpo_2x.jpg);
	background-size:728px 90px;
}

#c1_2x {
	left:37px;
	top:23px;
	width:281px;
	height:20px;
	background-image:url(../img/c1_2x.png);
	background-size:281px 20px;
}

#c2_2x {
	left:37px;
	top:47px;
	width:295px;
	height:20px;
	background-image:url(../img/c2_2x.png);
	background-size:295px 20px;
}

#c3_2x {
	left:121px;
	top:119px;
	width:266px;
	height:31px;
	background-image:url(../img/c3_2x.png);
	background-size:266px 31px;
}

#logo_2x {
	left:517px;
	top:31px;
	width:185px;
	height:27px;
	background-image:url(../img/logo_2x.png);
	background-size:185px 27px;
}

#cta_2x {
	left:339px;
	top:46px;
	width:21px;
	height:21px;
	background-image:url(../img/cta_2x.png);
	background-size:21px 21px;
}

#c1a_2x {
	left:79px;
	top:23px;
	width:56px;
	height:16px;
	background-image:url(../img/c1a_2x.png);
	background-size:56px 16px;
}

#c1a_white_2x {
	left:92px;
	top:35px;
	width:75px;
	height:26px;
	background-image:url(../img/c1a_white_2x.png);
	background-size:75px 26px;
	opacity: 0.5;
}

#c2a_2x {
	left:120px;
	top:47px;
	width:32px;
	height:20px;
	background-image:url(../img/c2a_2x.png);
	background-size:32px 20px;
}