body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
	cursor: pointer;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

.fpo {
	opacity: .5;
}

#copy1-1 {
	left:13px;
	top:96px;
	width:82px;
	height:17px;
	background-image:url(../img/copy1-1.png);
}

#copy1-2 {
	left:13px;
	top:119px;
	width:80px;
	height:21px;
	background-image:url(../img/copy1-2.png);
}

#copy1-3 {
	left:12px;
	top:142px;
	width:118px;
	height:21px;
	background-image:url(../img/copy1-3.png);
}

#copy2-1 {
	left:12px;
	top:106px;
	width:63px;
	height:17px;
	background-image:url(../img/copy2-1.png);
}

#copy2-2 {
	left:12px;
	top:129px;
	width:98px;
	height:21px;
	background-image:url(../img/copy2-2.png);
}

#copy3-1 {
	left:13px;
	top:67px;
	width:51px;
	height:19px;
	background-image:url(../img/copy3-1.png);
}

#copy3-2 {
	left:12px;
	top:92px;
	width:76px;
	height:21px;
	background-image:url(../img/copy3-2.png);
}

#copy3-3 {
	left:12px;
	top:120px;
	width:75px;
	height:20px;
	background-image:url(../img/copy3-3.png);
}

#copy3-4 {
	left:12px;
	top:146px;
	width:116px;
	height:21px;
	background-image:url(../img/copy3-4.png);
}

#copy4-1 {
	left:12px;
	top:77px;
	width:63px;
	height:17px;
	background-image:url(../img/copy4-1.png);
}

#copy4-2 {
	left:12px;
	top:100px;
	width:98px;
	height:21px;
	background-image:url(../img/copy4-2.png);
}

#copy4-3 {
	left:12px;
	top:123px;
	width:89px;
	height:17px;
	background-image:url(../img/copy4-3.png);
}

#copy4-4 {
	left:13px;
	top:146px;
	width:94px;
	height:20px;
	background-image:url(../img/copy4-4.png);
}

#copy4-5 {
	left:12px;
	top:170px;
	width:36px;
	height:16px;
	background-image:url(../img/copy4-5.png);
}

#cta {
	left:14px;
	top:179px;
	width:80px;
	height:12px;
	background-image:url(../img/cta.png);
}

#engineer {
	left:179px;
	top:69px;
	width:93px;
	height:181px;
	background-image:url(../img/engineer.png);
}

#shadow {
	left:139px;
	top:173px;
	width:161px;
	height:77px;
	background-image:url(../img/shadow.png);
}

#copy1-1_2x {
	left:20px;
	top:24px;
	width:84px;
	height:18px;
	background-image:url(../img/copy1-1_2x.png);
	background-size:84px 18px;
}

#copy1-2_2x {
	left:19px;
	top:47px;
	width:83px;
	height:23px;
	background-image:url(../img/copy1-2_2x.png);
	background-size:83px 23px;
}

#copy1-3_2x {
	left:18px;
	top:71px;
	width:124px;
	height:23px;
	background-image:url(../img/copy1-3_2x.png);
	background-size:124px 23px;
}

#engineer_2x {
	left:27px;
	top:0px;
	width:273px;
	height:250px;
	background-image:url(../img/engineer_2x.png);
	background-size:273px 250px;
}

#logo_2x {
	left:18px;
	top:17px;
	width:125px;
	height:24px;
	background-image:url(../img/logo_2x.png);
	background-size:125px 24px;
}

#copy1_1_2x {
	left:20px;
	top:24px;
	width:84px;
	height:18px;
	background-image:url(../img/copy1_1_2x.png);
	background-size:84px 18px;
}

#copy1_2_2x {
	left:19px;
	top:47px;
	width:74px;
	height:21px;
	background-image:url(../img/copy1_2_2x.png);
	background-size:74px 21px;
}

#copy1_3_2x {
	left:18px;
	top:71px;
	width:124px;
	height:23px;
	background-image:url(../img/copy1_3_2x.png);
	background-size:124px 23px;
}

#copy1_4_2x {
	left:19px;
	top:94px;
	width:66px;
	height:18px;
	background-image:url(../img/copy1_4_2x.png);
	background-size:66px 18px;
}

#copy1_5_2x {
	left:19px;
	top:117px;
	width:103px;
	height:23px;
	background-image:url(../img/copy1_5_2x.png);
	background-size:103px 23px;
}

#bg_2x {
	left:135px;
	top:3px;
	width:239px;
	height:257px;
	background-image:url(../img/bg_2x.png);
	background-size:239px 257px;
}

#default1 {
	left: 0px;
	top: 0px;
	width: 300px;
	height: 250px;
	background-color: rgb(255, 255, 255);
	/* background-image: url(../img/bg_2x.png); */
	/* background-size: 239px 257px; */
}

.overflow {
	overflow: hidden;
}

.sheen {
	opacity: 0;
	position: relative;
	height: 100%;
	background: rgb(0, 0, 0);
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0) 100%);
	width: 50px;
}

#bg_fpo_2x {
	left:0px;
	top:0px;
	width:300px;
	height:250px;
	background-image:url(../img/bg_fpo_2x.jpg);
	background-size:300px 250px;
}


#copy2_1_2x {
	left:19px;
	top:24px;
	width:90px;
	height:23px;
	background-image:url(../img/copy2_1_2x.png);
	background-size:85px 23px;
}

#copy2_2_2x {
	left:19px;
	top:47px;
	width:88px;
	height:20px;
	background-image:url(../img/copy2_2_2x.png);
	background-size:88px 20px;
}

#copy2_3_2x {
	left:18px;
	top:71px;
	width:38px;
	height:15px;
	background-image:url(../img/copy2_3_2x.png);
	background-size:38px 15px;
}

#copy2_1_2x {
	left:19px;
	top:24px;
	width:66px;
	height:18px;
	background-image:url(../img/copy2_1_2x.png);
	background-size:66px 18px;
}

#copy2_2_2x {
	left:19px;
	top:47px;
	width:103px;
	height:23px;
	background-image:url(../img/copy2_2_2x.png);
	background-size:103px 23px;
}

#copy3_1_2x {
	left:19px;
	top:71px;
	width:85px;
	height:23px;
	background-image:url(../img/copy3_1_2x.png);
	background-size:85px 23px;
}

#copy3_2_2x {
	left:19px;
	top:94px;
	width:88px;
	height:20px;
	background-image:url(../img/copy3_2_2x.png);
	background-size:88px 20px;
}

#copy3_3_2x {
	left:18px;
	top:121px;
	width:38px;
	height:15px;
	background-image:url(../img/copy3_3_2x.png);
	background-size:38px 15px;
}

#copy4_1_2x {
	left:20px;
	top:24px;
	width:132px;
	height:20px;
	background-image:url(../img/copy4_1_2x.png);
	background-size:132px 20px;
}

#copy4_2_2x {
	left:19px;
	top:49px;
	width:74px;
	height:20px;
	background-image:url(../img/copy4_2_2x.png);
	background-size:74px 20px;
}

#copy4_3_2x {
	left:19px;
	top:75px;
	width:113px;
	height:20px;
	background-image:url(../img/copy4_3_2x.png);
	background-size:113px 20px;
}

#cta_2x {
	left:18px;
	top:470px;
	width:108px;
	height:16px;
	background-image:url(../img/cta_2x.png);
	background-size:108px 16px;
}

#cta_arrow_2x {
	left:134px;
	top:472px;
	width:8px;
	height:15px;
	background-image:url(../img/cta_arrow_2x.png);
	background-size:8px 15px;
}

#copy4-1_2x {
	left:19px;
	top:24px;
	width:66px;
	height:18px;
	background-image:url(../img/copy4-1_2x.png);
	background-size:66px 18px;
}

#copy4-2_2x {
	left:19px;
	top:47px;
	width:103px;
	height:23px;
	background-image:url(../img/copy4-2_2x.png);
	background-size:103px 23px;
}

#copy4-3_2x {
	left:19px;
	top:71px;
	width:85px;
	height:23px;
	background-image:url(../img/copy4-3_2x.png);
	background-size:85px 23px;
}

#copy4-4_2x {
	left:19px;
	top:94px;
	width:88px;
	height:20px;
	background-image:url(../img/copy4-4_2x.png);
	background-size:88px 20px;
}

#copy4-5_2x {
	left:18px;
	top:121px;
	width:38px;
	height:15px;
	background-image:url(../img/copy4-5_2x.png);
	background-size:38px 15px;
}

#copy4_4_2x {
	left:19px;
	top:94px;
	width:88px;
	height:20px;
	background-image:url(../img/copy4_4_2x.png);
	background-size:88px 20px;
}

#copy4_5_2x {
	left:18px;
	top:121px;
	width:38px;
	height:15px;
	background-image:url(../img/copy4_5_2x.png);
	background-size:38px 15px;
}

#copy4_2x {
	left:19px;
	top:122px;
	width:104px;
	height:19px;
	background-image:url(../img/copy4_2x.png);
	background-size:104px 19px;
}

#test_2x {
	left:0px;
	top:0px;
	width:300px;
	height:250px;
	background-image:url(../img/test_2x.jpg);
	background-size:300px 250px;
}

#copy2_2x {
	left:19px;
	top:73px;
	width:85px;
	height:24px;
	background-image:url(../img/copy2_2x.png);
	background-size:85px 24px;
}

#efcopy_2x {
	left:19px;
	top:24px;
	width:133px;
	height:71px;
	background-image:url(../img/efcopy_2x.png);
	background-size:133px 71px;
}

#copy1_2x {
	left:19px;
	top:48px;
	width:62px;
	height:24px;
	background-image:url(../img/copy1_2x.png);
	background-size:62px 24px;
}

#copy3_2x {
	left:18px;
	top:97px;
	width:88px;
	height:19px;
	background-image:url(../img/copy3_2x.png);
	background-size:88px 19px;
}

#copy0_2x {
	left:19px;
	top:185px;
	width:184px;
	height:33px;
	background-image:url(../img/copy0_2x.png);
	background-size:184px 33px;
}

#bg {
	left:0px;
	top:0px;
	width:300px;
	height:600px;
	background-image:url(../img/bg.jpg);
}