body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}



/* manual style start */
.sheen{
	opacity:.8;
	position:relative;
	height:100%;
	background: #8abef8;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(138, 190, 248, 1)	50%, rgba(255,255,255,0) 100%);
}
.overflow{
	overflow:hidden;
}

#bg_2x {
	left:0px;
	top:0px;
	width:160px;
	height:600px;
	background-image:url(../img/bg_2x.jpg);
	background-size:160px 600px;
}

#left_tri {
	left:0px;
	top:0px;
	width:160px;
	height:432px;
	background-image:url(../img/left_tri.png);
}

#right_tri {
	left:0px;
	top:105px;
	width:160px;
	height:495px;
	background-image:url(../img/right_tri.png);
}

#c1_2x {
	left:10px;
	top:60px;
	width:139px;
	height:42px;
	background-image:url(../img/c1_2x.png);
	background-size:139px 42px;
}

#c2_2x {
	left:10px;
	top:107px;
	width:128px;
	height:15px;
	background-image:url(../img/c2_2x.png);
	background-size:128px 15px;
}

#c3_2x {
	left:11px;
	top:131px;
	width:141px;
	height:19px;
	background-image:url(../img/c3_2x.png);
	background-size:141px 19px;
}

#logo_2x {
	left:11px;
	top:506px;
	width:138px;
	height:64px;
	background-image:url(../img/logo_2x.png);
	background-size:138px 64px;
}

#cta_2x {
	left:10px;
	top:165px;
	width:72px;
	height:17px;
	background-image:url(../img/cta_2x.png);
	background-size:72px 17px;
}

#c1a_2x {
	left:48px;
	top:60px;
	width:49px;
	height:15px;
	background-image:url(../img/c1a_2x.png);
	background-size:49px 15px;
}

#c2a_2x {
	left:86px;
	top:107px;
	width:30px;
	height:19px;
	background-image:url(../img/c2a_2x.png);
	background-size:30px 19px;
}